@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.eot");
  src: url("Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("Shrikhand-Regular.woff2") format("woff2"), url("Shrikhand-Regular.woff") format("woff"), url("Shrikhand-Regular.ttf") format("truetype"), url("Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "robotoblack_italic";
  src: url("Roboto-BlackItalic-webfont.eot");
  src: url("Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-BlackItalic-webfont.woff2") format("woff2"), url("Roboto-BlackItalic-webfont.woff") format("woff"), url("Roboto-BlackItalic-webfont.ttf") format("truetype"), url("Roboto-BlackItalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoblack";
  src: url("Roboto-Black-webfont.eot");
  src: url("Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Black-webfont.woff2") format("woff2"), url("Roboto-Black-webfont.woff") format("woff"), url("Roboto-Black-webfont.ttf") format("truetype"), url("Roboto-Black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*COULEURS VARIABLES*/
/*VARIABLES TAILLE ET FONT FAMILY*/
body {
  background-color: white;
  font-family: "roboto", "Raleway", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}

#bloc-page {
  width: 100%;
  margin: auto;
  max-width: 2000px;
  min-width: 100px;
}

header {
  text-align: center;
}
header .logo {
  margin-top: 2rem;
}
header .logo img {
  width: 11rem;
}

.search-bar {
  display: flex;
  background-color: #EAEAEA;
  box-shadow: 0px -2px 5px 0px #CFCFCF;
  height: 3rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.search-bar .fas {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.search-bar .search-bar-button {
  color: #353535;
  font-size: 1.5rem;
}
.search-bar .search-bar-text-input {
  outline: none;
  padding: 0;
  background-color: #EAEAEA;
  border: none;
  color: #353535;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 180px;
}

#description-ohmyfood {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  text-align: center;
}
#description-ohmyfood h2 {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 0;
}
#description-ohmyfood h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
}
#description-ohmyfood h4 {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: normal;
  color: white;
  background-color: #9356DC;
  position: relative;
  box-shadow: inset 10px 15px 50px 1px #FF79DA, 0px 0px 10px 1px #b6b3b3;
  border-radius: 40px;
  padding: 15px 20px;
  margin-bottom: 3rem;
}
#description-ohmyfood h4:hover {
  opacity: 0.7;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  box-shadow: inset 10px 15px 50px 1px #FF79DA, 0px 0px 7px 3px #484B4C;
}

/*# sourceMappingURL=style.css.map */
