@import "reset.scss"

$color-primary: #AE54DF;


#bloc-page
{
    background-color: $color-primary;
}

#descritpion-ohmyfood
{
    border: black 6px solid;
}

.btn{
    background-color: $color-primary;
    &:hover{
        background-color: rgb(167, 120, 120);
    }
}

.call-to-action{
    @extend .btn;
}