#bloc-page
{
    background-color: white;
}

#descritpion-ohmyfood
{
    border: black 6px solid;
}

.btn{
    background-color: red;
    &:hover{
        background-color: rgb(167, 120, 120);
    }
}