@import "libs/fonts.scss";

body{
    background-color: white;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

#bloc-page{
    width: 90%;
    margin: auto;
    max-width: 2000px;
    min-width: 100px;    
}

header{
    text-align: center;
    .logo{
        margin-top: 2em;
    }
}

