@import "libs/variables.scss";
@import "libs/fonts.scss";
@import "libs/media.scss";
@import "libs/extensions.scss";
@import "libs/loader.scss";

/*Fonctions*/

@for $i from 0 through 9 {
    .restaurant-menu--plats.delay-#{$i} {
        animation: menu-incoming 3s;
        animation-delay: #{$i/10}s;
        animation-fill-mode: both;
    }
}

/*Loading cercle*/
.loader{
    &-circles{
        border-radius: 50px;
        border: 3px solid transparent;
        border-top-color: white ;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
        &:after{
            content: '';
            position: absolute;
            top: 5px ;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border: 3px solid transparent;
            border-radius: 50px;
            border-top-color: white;
            opacity: 0.8;
            animation: spin 5s linear infinite;
            -webkit-animation: spin 5s linear infinite;
        }
        &:before{
            content: '';
            position: absolute;
            top: 12px ;
            left: 12px;
            bottom: 12px;
            right: 12px;
            border: 3px solid transparent;
            border-radius: 50px;
            border-top-color: white;
            opacity: 0.5;
            animation: spin 10s linear infinite;
            -webkit-animation: spin 10s linear infinite;
        }
    }
}

/*KEYFRAMES*/

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);;
    }
}

@keyframes fadein{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}

@keyframes menu-incoming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes loading{
    0%{
        opacity: 1;
        margin-left:0;
    }
    100%{
        opacity: 0;
        margin-top: -1000px;
        transition: ease-in-out 3s;
    }
}

@keyframes apparition-site{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body{
    background-color: white;
    font-family: $font-family;
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}

#bloc-page-accueil{
    width: 100%;
    margin: auto;
    max-width: 2000px;
    min-width: 100px;
    animation: apparition-site 5s ease-in-out;    
}

#bloc-page{
    width: 100%;
    margin: auto;
    max-width: 2000px;
    min-width: 100px;
}
/*HEADER*/

header{
    text-align: center;
    .logo{
        margin-top: $size + 1rem;
        img{
            width: $size + 10rem;
        }
    }
}

.search-bar{
    display: flex;
    background-color: #EAEAEA;
    box-shadow: 0px -2px 5px 0px #CFCFCF;
    height: $size + 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    .fas{
        font-size: $size;
        margin-bottom: 1rem;   
    }
    .search-bar-button{
        color: $color-text;
        font-size: $size + 0.5rem;
    }
    .search-bar-text-input{
        outline: none;
        padding: 0;
        background-color: #EAEAEA;
        border: none;
        color: $color-text;
        font-size: $size;
        font-weight: bold;
        text-align: center;
        width: 180px;
    }
}

/*SECTION DESCRIPTION*/

#description-ohmyfood{
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    align-items: center;
    text-align: center;
    h2{
        font-size: $size + 0.7rem ;
        padding: $size;
        margin-bottom: 0;
        margin-top: $size + 0.5rem;
    }
    h3{
        font-size: $size + 0.2rem ;
        font-weight: 300;
        margin-top: 0;
        padding: $size - 0.5rem, $size + 1rem ;
    }
    button{
        font-size: $size + 0.1rem;
        margin-top: $size;
        font-weight: normal;
        color: white;
        background: linear-gradient($secondary, $primary);
        position: relative;	
        border: none;
        box-shadow: 0px 0px 10px 1px #b6b3b3;
        border-radius: 40px;
        padding: 15px 20px;
        margin-bottom: $size + 2.5rem;
        transition: transform ease-in-out 500ms, opacity ease-in-out 500ms, box-shadow ease-in-out 500ms ;
        &:hover{
            opacity: 0.7;
            box-shadow: 0px 0px 7px 3px #484B4C;
            transform: scale(1.1);
            cursor: pointer;
                    
        }
        &:active{
            border-style: none;
        }
        &:focus{
            outline:none;
        }
    }
}

/*FONCTIONNEMENT*/

#fonctionnement{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    h2{
        margin: 3*$size $size $size;
    }
    ul{
        padding: 10px;
        margin-top: - $size;
    }
}

.fonctionnement-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-etape{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px 30px ;
        transition: background-color ease-in-out 200ms, box-shadow ease-in-out 200ms, transform ease-in-out 200ms;
        @extend .box-shadow;
        &:hover{
        background-color: rgba($color:$primary, $alpha: 0.15);
        transform: scale(1.01);
        cursor: pointer;
        &:hover .fas{
        color: $primary;
        }
    }
    span{
        @extend .cercle;
    }
    .fas{
        margin-right: 15px;
        color: #7e7e7e;
        font-size: $size + 0.2rem;
        margin-right: $size;
        }
    }
    &-etape.active{
        background-color: rgba($color:$primary, $alpha: 0.15);
        .fas{
            color: $primary;
        }
    }
}

/*RESTAURANTS*/

#restaurants{
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    padding-bottom: $size + 0.5rem;
    h2{
        margin: 3*$size $size $size;
    }
}

.card-restaurant{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 1px $color-box-shadow;
    margin: 15px;
    box-sizing: border-box;
    transition: ease-in-out 200ms;
    &:hover{
        transform: scale(1.01);
    }
    img{
    height: 200px;
    position: relative;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    }
    &-nouveau{
        background-color: $tertiary;
        color: #39a98e;
        position: absolute;
        top: 8px;
        right: 16px;
        padding: 7px;
        border-radius: 5px;
        z-index: 2;
    }
    &-legende{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-text{
            display: flex;
            flex-direction: column;
            margin-left: $size;
            h4{
                font-size: $size + 0.2rem;
                margin-top: $size;
                margin-bottom: 0;
            }
            h5{
                margin-top: 0.2 * $size;
                margin-bottom: $size;
                font-weight: 300;
                font-size: $size + 0.1rem;
            }
        }
        &-heart{
            align-self: center;
            margin-right: 2 * $size;
            .far{      
                &:hover{
                font-weight: 900;
                background:-moz-linear-gradient(top, $primary 0%, $secondary 100%); 
                background: -webkit-linear-gradient(top, $primary 0%, $secondary 100%); 
                background: linear-gradient(to bottom, $primary 0%, $secondary 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: font-weight ease-in-out 0s ;
                animation: fadein 900ms;
                background-position: 0 100%;
                cursor: pointer;
                }
            }
        }
    }
}

/*FOOTER*/

footer{
    padding: $size + 0.5rem;
    background-color: $color-text;
    color: white;
    h2{
        font-family: 'Shrikhand';
        font-weight: normal;
        font-size: $size + 0.3rem;
        margin-top: 0;
    }
    h3{
        margin: 0;
        font-weight: 400;
        margin-bottom: 0.5 * $size;
        font-size: initial;
    }
    .footer-img-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        .fas{
            margin-right: $size;
            &.fa-hands-helping{
                margin-right: 0.58* $size;
            }
        }
    }
    a{
        color: white;
    }
}

/*********************************************************/
/*MEDIA QUERIES ACCUEIL*/
/*********************************************************/

/*LARGE DEVICES*/
@media screen and (min-width: 1268px){

    #restaurants{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto ;
        margin-bottom: 0px;
    }   h2{
        grid-column: 1/-1;
    }
}   

/*MEDIUM DEVICES*/
@media screen and (max-width: 1267px){
    
    .fonctionnement-nav{
        justify-content: center;
        &-etape{
            width: 100%;
        }
    }

    #restaurants{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto ;
        h2{
            grid-column: 1/-1;
        }
    }
}

/*SMALL DEVICES*/
@media screen and (max-width: 660px){
    .fonctionnement-nav-etape{
        width: 100%;
    }

    #restaurants{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto ;
        h2{
            grid-column: 1/-1;
        }
    }
}

/*********************************************************/
/*MENU*/
/*********************************************************/

header{
    a{
        position: absolute;
        left: $size;
        color: $color-text;
        font-size: $size + 0.3rem;
        transition: opacity 0.5s;
        
        &:hover{
            opacity: 0.5;
        }
    }
}

.restaurant-img{
    img{
        object-fit: cover;
        width: 100%;
        height: 300px;
        margin-top: $size;
        position: relative;
        z-index: 0;
    }
}

.restaurant-menu{
    background-color: $color-background;
    border-radius: 50px 50px 0 0;
    margin-top: - 3rem;
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    &--titre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: $size;
        h2{
            font-family: 'Shrikhand';
            font-size: $size + 1rem;
            margin-right: $size + 0.5rem;
            margin-left: $size;
        }
    }
    &-carte{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h3{
        font-weight: 300;
        font-size: $size + 0.1rem;
        margin-left: $size;
        border-bottom: $tertiary 3px solid;
        width: 45px;
        padding-bottom: 10px;
    }
    &--plats{
        display: grid;
        grid-template-columns: 2.3fr 0.3fr 0.3fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0px 0px;
        background-color: white;
        box-shadow: 0px 0px 8px 1px $color-box-shadow;
        color: $color-text;
        border: none;
        border-radius: 13px;
        margin: 0 $size $size $size;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover .fas {
            transform: rotate(360deg);
        }
        &:hover &--checkbox{
            transform: translateX(0%);
        }
        &:hover &--prix{
            margin-right: 30%;
        }
        &--name{
            grid-area: 1 / 1 / 2 / 3;
        }
        &--accompagnements{
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            h5{  
                font-weight: 300;
                margin: 0rem 0 0.5rem 0.9rem;
                font-size: 0.9rem;
            }
        }
        &--prix{
            grid-area: 2 / 2 / 3 / 4;
            transition: margin-right 1s;
            p{
                font-weight: bold;
                margin: 0 ;
                text-align: end;
                margin-right: $size;
            }
        }
        &--checkbox{
            background-color: $tertiary;
            grid-area: 1 / 3 / 3 / 4;
            border-radius: 0 13px 13px 0;
            text-align: center;
            transform: translateX(100%);
            transform-origin: 100% 50%;
            transition: transform 1s;
            
            .fas{
                font-size: xx-large;
                margin: $size;
                color: white;
                transition: transform 1s;
            }
        }
        h4{
        @extend .margin-plats;
        font-size: $size + 0.1rem;
        }
    }
    button{
        width: 200px;
        align-self: center;
        font-size: $size + 0.1rem;
        margin-top: 3 * $size;
        font-weight: normal;
        color: white;
        background: linear-gradient($secondary, $primary);
        position: relative;	
        border: none;
        box-shadow: 0px 0px 10px 1px #b6b3b3;
        border-radius: 40px;
        padding: 15px 20px;
        margin-bottom: 4 * $size;
        transition: transform ease-in-out 500ms, opacity ease-in-out 500ms, box-shadow ease-in-out 500ms ;
        &:hover{
            opacity: 0.7;
            box-shadow: 0px 0px 7px 3px #484B4C;
            transform: scale(1.1);
            cursor: pointer;            
        }
        &:active{
            border-style: none;
        }
        &:focus{
            outline:none;
        }
    }
}


/*********************************************************/
/*MEDIA QUERIES MENUS*/
/*********************************************************/

/*LARGE DEVICES*/
@media screen and (min-width: 667px){
    .restaurant-menu--titre{
        justify-content: space-between;
    }
    
    .restaurant-menu--plats{
        width: 30%;
    }

    .restaurant-img{
        img{
            height: 400px;
        }
    }
}

/*MEDIUM DEVICES / TABLETTES*/
@media screen and (max-width: 1024px){
    .restaurant-menu--plats{
        width: 100%;
    }
    .restaurant-img{
        img{
            height: 300px;
        }
    }
}

/*SMALL DEVICES : MOBILES*/
@media screen and (max-width: 667px){
    

}
