@import "libs/fonts.scss";

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$font-family: 'robotoregular';
$size: 1rem;

body{
    background-color: white;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
    margin: auto;
}

#bloc-page{
    width: 100%;
    margin: auto;
    max-width: 2000px;
    min-width: 100px;    
}

header{
    text-align: center;
    .logo{
        margin-top: $size + 1rem;
    }
}

.search-bar{
    display: flex;
    background-color: #EAEAEA;
    height: $size + 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    .search-bar-button{
       color: #353535;
       margin-right: $size;

    }
}

